.cards{
 background-color: blueviolet;
width: 100%;
height: 400px;
}
.al{
 background-color: blueviolet;
color: antiquewhite;
padding: 40px;
width: 100%;
overflow: hidden;

}
.bl{
 background-color: rgb(233, 15, 196);
color: antiquewhite;
padding: 40px;
width: 100%;
overflow: hidden;

}
.imagess{
border-radius: 20px;
 
}